.ui-datepicker{
	border-radius: 0;
	font-family: $font_montserrat;
	background: $color_white;
	padding: .25rem;
	@include media (phablet-down){
		width: 90%;
	}
	&-header{
		padding: 0 .25rem .25rem .25rem !important;
		background: transparent !important;
		color: $color_ciper_black;
		border-radius: 0;
		border: none;
	}
	&-title{
		font-family: $font_montserrat;
		font-size: 1rem;
		line-height: 1rem;
		text-transform: uppercase;
	}
	&-calendar{
		border-spacing: 2px;
		th{
			background-color: transparent;
			font-size: .75rem;
			padding: .75rem 0;
			font-weight: $weight_regular;
		}
		thead{
			background-color: $color_ciper_black_light;
		}
		tbody{
			background-color: rgba($color_ciper_border, .25);
			td{
				border: none;
				font-size: .7rem;
				padding: 0;
				text-align: center;
				a, span{
					padding: 1rem .5rem;
					background: white !important;
					border: 1px solid rgba($color_ciper_border, .25) !important;
				}
			}
		}
	}
	&-today{
		.ui-state-highlight{
			border-color: $color_ciper_red_light !important;
			background: rgba($color_ciper_red_light, .4) !important;
			color: $color_ciper_black !important;
		}
	}
	&-current-day{
		.ui-state-active{
			background: $color_ciper_red !important;
			border-color: $color_ciper_red;
			color: $color_ciper_white;
		}
	}
	&-prev,
	&-next{
		cursor: pointer;
	}
}